@charset "utf-8";
.bv-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@mixin full() {
    width: 100%;
    height: 100%;
}

//color-style
@mixin color($color) {
    background: $color;
}

.bv-dark {
    @include color(#374850);
}

.bv-red {
    @include color(#cc4e5a);
}

.bv-blue {
    @include color(#02c7f8);
}

.bv-orange {
    @include color(orange);
}

// 上下剧中
@mixin center() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

//button-style
@mixin color-style($background, $color) {
    background: $background;
    color: $color;
    border: 1px solid $background;
}

@mixin btn-size($paddingSize, $fontSize) {
    padding: $paddingSize/2 $paddingSize;
    font-size: $fontSize;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.bv-btn-dark {
    @include color-style(#374850, #eef5f9);
    &:focus {
        outline: none;
        border: 1px solid #374850;
    }
}

.bv-btn-red {
    @include color-style(#cc4e5a, #fff);
    &:focus {
        outline: none;
        border: 1px solid #cc4e5a;
    }
}

.bv-btn-blue {
    @include color-style(#02c7f8, #fff);
    &:focus {
        outline: none;
        border: 1px solid #02c7f8;
    }
}

.bv-btn-orange {
    @include color-style(orange, #fff);
    &:focus {
        outline: none;
        border: 1px solid orange;
    }
}

.bv-btn-lg {
    @include btn-size(0.8rem, 1.15rem);
}

.bv-btn-sm {
    @include btn-size(0.4rem, 0.775rem);
}

.bv-btn-md {
    @include btn-size(0.6rem, 0.985rem);
}

//input form
@mixin input-addon-style($bacColor, $color, $borderColor) {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: $color;
    background-color: $bacColor;
    border: 1px solid $borderColor;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin bv-form-control-style($color, $borderColor, $focusColor) {
    color: $color;
    font-size: 13px;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid $borderColor;
    & ::-moz-placeholder {
        color: #ddd;
        opacity: 1;
    }
    & :-ms-input-placeholder {
        color: #ddd;
    }
    & ::-webkit-input-placeholder {
        color: #ddd;
    }
    &:focus {
        outline: none;
        border: 1px solid $focusColor;
    }
}

.bv-form-group {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    @include center();
}

.bv-form-control {
    @include bv-form-control-style(#607d8b, #e8eef1, #c8d1d6);
}

.bv-form-control-dark {
    background: #f3f7f9;
    @include bv-form-control-style(#607d8b, #e8eef1, #c8d1d6);
}

.bv-form-control-blue {
    @include bv-form-control-style(#607d8b, #43d3f7, #02c7f8);
}

.bv-form-control-green {
    @include bv-form-control-style(#607d8b, #95eb8d, #89e980);
}

.bv-form-control-red {
    @include bv-form-control-style(#607d8b, #cc4e5a, #cc4e5a);
}

.has-error {
    .bv-form-control {
        border-color: #ef716e;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        &:focus {
            outline: none;
            border-color: #ef716e;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
    }
}

.has-success {
    .bv-form-control {
        border-color: #95eb8d;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        &:focus {
            outline: none;
            border-color: #95eb8d;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
    }
}

.bv-input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    .bv-form-control,
    .bv-form-control-blue,
    .bv-form-control-green,
    .bv-form-control-red {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.bv-input-group-addon {
    @include center();
    @include input-addon-style(#f4f5f7, #727d8e, #e7eaef)
}

.bv-input-group-addon-blue {
    @include center();
    @include input-addon-style(#02c7f8, #fff, #02c7f8);
}

.bv-input-group-addon-green {
    @include center();
    @include input-addon-style(#95eb8d, #fff, #95eb8d);
}

.bv-input-group-addon-red {
    @include center();
    @include input-addon-style(#cc4e5a, #fff, #cc4e5a);
}

//input尺寸控制
@mixin input-size($paddingSize, $fontSize, $height) {
    padding: $paddingSize/2 $paddingSize;
    font-size: $fontSize;
    line-height: 1.5;
    border-radius: 0.3rem;
    height: $height;
}

.bv-input-lg {
    @include input-size(0.8rem, 1.15rem, 40px);
}

.bv-input-md {
    @include input-size(0.6rem, 0.985rem, 30px);
}

.bv-input-sm {
    @include input-size(0.4rem, 0.775rem, 25px);
}

//table
@mixin bv-table-thead($bacColor, $fontColor) {
    vertical-align: bottom;
    background-color: $bacColor;
    color: $fontColor;
    border-bottom: 2px solid $bacColor;
    border-top: 2px solid $bacColor;
    width: 100%;
    max-width: 100%;
    th {
        border-bottom-width: 2px;
        vertical-align: bottom;
        border-bottom: 2px solid $bacColor;
    }
    td {
        border-bottom-width: 2px;
    }
}

@mixin bv-th-td($paddingSize, $borderColor) {
    padding: $paddingSize;
    vertical-align: top;
    border-top: 1px solid $borderColor;
    min-width: 75px;
}

@mixin bv-table-tbody($color, $hoverColor) {
    border-top: 2px solid $color;
    width: 100%;
    max-width: 100%;
    th:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }
    tr:hover {
        background-color: $hoverColor;
    }
}

@mixin bv-table($headColor, $borderColor, $thFontColor, $hoverColor, $fontSize) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: $fontSize;
    background-color: transparent;
    border: 1px solid $borderColor;
    thead {
        @include bv-table-thead($headColor, $thFontColor);
    }
    tbody {
        @include bv-table-tbody($headColor, $hoverColor);
    }
    th {
        @include bv-th-td(8px, $borderColor);
    }
    td {
        @include bv-th-td(8px, $borderColor);
    }
}

.bv-table {
    @include bv-table(#262626, #f4f4f4, #fff, #f4f4f4, 14px);
}

.bv-table-dark {
    @include bv-table(#374850, #f4f4f4, #eef5f9, #f4f4f4, 12px)
}

.scrolling-range {
    overflow-x: auto;
    overflow-y: auto;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

//tags
@mixin tags-size($widthSize, $heightSize) {
    width: $widthSize;
    height: $heightSize;
    border-radius: 5px;
}

.tags-list {
    list-style: none;
    padding-left: 0px;
    li {
        margin: 5px;
        float: left;
    }
}

.tags-title {
    height: 20%;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.tags-content {
    height: 60%;
    color: #fff;
    width: 100%;
    @include center();
}

.tags-footer {
    font-size: 12px;
    height: 20%;
    color: #fff;
    width: 100%;
    text-align: right;
    padding-right: 5px;
}

.tags-blue {
    @include tags-size(100px, 75px);
    @include color(#02c7f8);
}

.tags-red {
    @include tags-size(100px, 75px);
    @include color(#cc4e5a);
}

.tags-orange {
    @include tags-size(100px, 75px);
    @include color(orange);
}

.tags-green {
    @include tags-size(100px, 75px);
    @include color(#95eb8d);
}

.tags-gray {
    @include tags-size(100px, 75px);
    @include color(#607d8b);
}