.lxc-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.lxc-dark {
  background: #374850; }

.lxc-red {
  background: #cc4e5a; }

.lxc-blue {
  background: #02c7f8; }

.lxc-orange {
  background: orange; }

.lxc-btn-dark {
  background: #374850;
  color: #eef5f9;
  border: 1px solid #374850; }
  .lxc-btn-dark:focus {
    outline: none;
    border: 1px solid #374850; }

.lxc-btn-red {
  background: #cc4e5a;
  color: #fff;
  border: 1px solid #cc4e5a; }
  .lxc-btn-red:focus {
    outline: none;
    border: 1px solid #cc4e5a; }

.lxc-btn-blue {
  background: #02c7f8;
  color: #fff;
  border: 1px solid #02c7f8; }
  .lxc-btn-blue:focus {
    outline: none;
    border: 1px solid #02c7f8; }

.lxc-btn-orange {
  background: orange;
  color: #fff;
  border: 1px solid orange; }
  .lxc-btn-orange:focus {
    outline: none;
    border: 1px solid orange; }

.lxc-btn-lg {
  padding: 0.4rem 0.8rem;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.lxc-btn-sm {
  padding: 0.2rem 0.4rem;
  font-size: 0.775rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.lxc-btn-md {
  padding: 0.3rem 0.6rem;
  font-size: 0.985rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.lxc-form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

.lxc-form-control {
  color: #607d8b;
  font-size: 13px;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #e8eef1; }
  .lxc-form-control ::-moz-placeholder {
    color: #ddd;
    opacity: 1; }
  .lxc-form-control :-ms-input-placeholder {
    color: #ddd; }
  .lxc-form-control ::-webkit-input-placeholder {
    color: #ddd; }
  .lxc-form-control:focus {
    outline: none;
    border: 1px solid #c8d1d6; }

.lxc-form-control-dark {
  background: #f3f7f9;
  color: #607d8b;
  font-size: 13px;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #e8eef1; }
  .lxc-form-control-dark ::-moz-placeholder {
    color: #ddd;
    opacity: 1; }
  .lxc-form-control-dark :-ms-input-placeholder {
    color: #ddd; }
  .lxc-form-control-dark ::-webkit-input-placeholder {
    color: #ddd; }
  .lxc-form-control-dark:focus {
    outline: none;
    border: 1px solid #c8d1d6; }

.lxc-form-control-blue {
  color: #607d8b;
  font-size: 13px;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #43d3f7; }
  .lxc-form-control-blue ::-moz-placeholder {
    color: #ddd;
    opacity: 1; }
  .lxc-form-control-blue :-ms-input-placeholder {
    color: #ddd; }
  .lxc-form-control-blue ::-webkit-input-placeholder {
    color: #ddd; }
  .lxc-form-control-blue:focus {
    outline: none;
    border: 1px solid #02c7f8; }

.lxc-form-control-green {
  color: #607d8b;
  font-size: 13px;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #95eb8d; }
  .lxc-form-control-green ::-moz-placeholder {
    color: #ddd;
    opacity: 1; }
  .lxc-form-control-green :-ms-input-placeholder {
    color: #ddd; }
  .lxc-form-control-green ::-webkit-input-placeholder {
    color: #ddd; }
  .lxc-form-control-green:focus {
    outline: none;
    border: 1px solid #89e980; }

.lxc-form-control-red {
  color: #607d8b;
  font-size: 13px;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #cc4e5a; }
  .lxc-form-control-red ::-moz-placeholder {
    color: #ddd;
    opacity: 1; }
  .lxc-form-control-red :-ms-input-placeholder {
    color: #ddd; }
  .lxc-form-control-red ::-webkit-input-placeholder {
    color: #ddd; }
  .lxc-form-control-red:focus {
    outline: none;
    border: 1px solid #cc4e5a; }

.has-error .lxc-form-control {
  border-color: #ef716e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .lxc-form-control:focus {
    outline: none;
    border-color: #ef716e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-success .lxc-form-control {
  border-color: #95eb8d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .lxc-form-control:focus {
    outline: none;
    border-color: #95eb8d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.lxc-input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }
  .lxc-input-group .lxc-form-control,
  .lxc-input-group .lxc-form-control-blue,
  .lxc-input-group .lxc-form-control-green,
  .lxc-input-group .lxc-form-control-red {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.lxc-input-group-addon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #727d8e;
  background-color: #f4f5f7;
  border: 1px solid #e7eaef;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.lxc-input-group-addon-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #02c7f8;
  border: 1px solid #02c7f8;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.lxc-input-group-addon-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #95eb8d;
  border: 1px solid #95eb8d;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.lxc-input-group-addon-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #cc4e5a;
  border: 1px solid #cc4e5a;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.lxc-input-lg {
  padding: 0.4rem 0.8rem;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  height: 40px; }

.lxc-input-md {
  padding: 0.3rem 0.6rem;
  font-size: 0.985rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  height: 30px; }

.lxc-input-sm {
  padding: 0.2rem 0.4rem;
  font-size: 0.775rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  height: 25px; }

.lxc-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #f4f4f4; }
  .lxc-table thead {
    vertical-align: bottom;
    background-color: #262626;
    color: #fff;
    border-bottom: 2px solid #262626;
    border-top: 2px solid #262626;
    width: 100%;
    max-width: 100%; }
    .lxc-table thead th {
      border-bottom-width: 2px;
      vertical-align: bottom;
      border-bottom: 2px solid #262626; }
    .lxc-table thead td {
      border-bottom-width: 2px; }
  .lxc-table tbody {
    border-top: 2px solid #262626;
    width: 100%;
    max-width: 100%; }
    .lxc-table tbody th:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    .lxc-table tbody tr:hover {
      background-color: #f4f4f4; }
  .lxc-table th {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #f4f4f4;
    min-width: 75px; }
  .lxc-table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #f4f4f4;
    min-width: 75px; }

.lxc-table-dark {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #f4f4f4; }
  .lxc-table-dark thead {
    vertical-align: bottom;
    background-color: #374850;
    color: #eef5f9;
    border-bottom: 2px solid #374850;
    border-top: 2px solid #374850;
    width: 100%;
    max-width: 100%; }
    .lxc-table-dark thead th {
      border-bottom-width: 2px;
      vertical-align: bottom;
      border-bottom: 2px solid #374850; }
    .lxc-table-dark thead td {
      border-bottom-width: 2px; }
  .lxc-table-dark tbody {
    border-top: 2px solid #374850;
    width: 100%;
    max-width: 100%; }
    .lxc-table-dark tbody th:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    .lxc-table-dark tbody tr:hover {
      background-color: #f4f4f4; }
  .lxc-table-dark th {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #f4f4f4;
    min-width: 75px; }
  .lxc-table-dark td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #f4f4f4;
    min-width: 75px; }

.scrolling-range {
  overflow-x: auto;
  overflow-y: auto;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.tags-list {
  list-style: none;
  padding-left: 0px; }
  .tags-list li {
    margin: 5px;
    float: left; }

.tags-title {
  height: 20%;
  color: #fff;
  font-size: 12px;
  text-align: center; }

.tags-content {
  height: 60%;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

.tags-footer {
  font-size: 12px;
  height: 20%;
  color: #fff;
  width: 100%;
  text-align: right;
  padding-right: 5px; }

.tags-blue {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background: #02c7f8; }

.tags-red {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background: #cc4e5a; }

.tags-orange {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background: orange; }

.tags-green {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background: #95eb8d; }

.tags-gray {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background: #607d8b; }

body,
html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px; }

.login {
  width: 100%;
  height: 100%;
  background-color: #eef5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px #999; }

.login-size {
  width: 100%;
  height: 60%;
  position: relative; }
  .login-size .lxc-form-group input {
    width: 85%; }

.login-panel {
  border-radius: 5px;
  width: 400px;
  height: 300px;
  background: #fff; }

.login-title {
  height: 20%;
  background-color: #b8c7ce;
  color: #345678;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f3f7f9; }
  .login-title h3 {
    font-size: 20px; }

.login-content {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

.login-footer {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=login.css.map */
